<div class="col-xs-12">
  <div class="row">

    <!-- Display Peer Rotation -->
    <div class="col-xs-12 col-md-5">

      <div class="panel panel-default peer-rotation">
        <div class="panel-heading">
          <h3 class="panel-title"><img class="ruby-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/100px-Ruby_logo.svg.png"></img>Ruby Team Peer Rotation</h3>
        </div>
        <div class="panel-body">

          <div class="col-xs-12">
            <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead class="table-header">
                <tr>
                  <th>Developer</th>
                  <th>Reviewer</th>
                </tr>
              </thead>
              <tbody class="table-striped table-hover">
                <% PeerRotation.get_current_rotation.each do |rotation| %>
                  <tr>
                    <td>
                      <div class="col-xs-4 col-md-4">
                        <img class="img-rounded" src="<%= gravatar(rotation[:user].email, 40) %>"></img>
                      </div>
                      <div class="col-xs-8 col-md-8">
                        <%= rotation[:user].name %></td>
                      </div>
                    <td>
                      <div class="col-xs-4 col-md-4">
                        <img class="img-rounded" src="<%= gravatar(rotation[:reviewer].email, 40) %>"></img>
                      </div>
                      <div class="col-xs-8 col-md-8">
                        <%= rotation[:reviewer].name %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div> <!-- end peer rotation -->

  </div>
</div>
