html {
  background: url('/assets/wall1.jpg') no-repeat center center;
	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;
	background-size:cover;
}

body {
  background-color: transparent !important;

}
.peer-rotation {
  margin-top: 50px;
  font-size: 1.1em;
  .panel-title {
    font-weight: bold;
  }
}
.ruby-img {
  width:18px;
  margin-right: 5px;
}
